@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Noto+Sans+Arabic:wght@400;700;900&display=swap');

@theme {
  --font-sans: "Inter", "Noto Sans Arabic", ui-sans-serif, system-ui, sans-serif;
}

@utility glow-sky {
  text-shadow: 0 0 10px rgba(14, 165, 233, 0.5);
}

@utility glow-orange {
  text-shadow: 0 0 10px rgba(249, 115, 22, 0.5);
}

@utility glow-green {
  text-shadow: 0 0 10px rgba(34, 197, 94, 0.5);
}

@utility glow-purple {
  text-shadow: 0 0 10px rgba(168, 85, 247, 0.5);
}

@layer base {
  body {
    @apply antialiased bg-[#050507] text-gray-100;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}
